.services{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    padding: 80px 24px;

    .services-intro{
        width: 100%;
        text-align: center;
        padding-bottom: 86px;

        @include breakpoint(md) {
            padding-bottom: 48px;
        }

        h3{
            color: #6E38F7;
            padding-bottom: 16px;
        }
    }

    .services-grid{
        width: 100%;

        .row-1,
        .row-2{
            display: flex;
            justify-content: space-evenly;
            gap: 32px;

            @include breakpoint(md) {
                flex-direction: column;
                align-items: center;
            }
        }

        .row-2{
            margin-top: 75px;

            @include breakpoint(md) {
                margin-top: 32px;
            }
        }

        .services-card{
            width: min(100%, 750px);
            min-height: 345px;
            border: 1px solid #E9ECEF;
            border-radius: 24px;
            background-color: #FFFFFF;
            box-shadow: 0px 8px 24px 0px #12121405;
            padding: 60px 0 0 70px;

            @include breakpoint(md) {
                width: 100%;
                max-width: 750px;
                padding: 32px 24px;
            }

            @include breakpoint(xs) {
                min-height: auto;
            }

            .service-icon-box{
                width: 56px;
                height: 56px;
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #6E38F712;
                margin-bottom: 32px;
            }

            .services-content{
                width: min(100%, 600px);
                height: auto;
                margin: 0 0 12px 0;

                h3{
                    font-family: 'montsAltsm';
                    font-weight: 600;
                    line-height: 100%;
                    font-size: 24px;
                    color: #121214;
                    padding-bottom: 12px;
                }
                
                p{
                    font-family: 'montsAltr';
                    font-weight: 400;
                    line-height: 160%;
                    font-size: 16px;
                    color: #495057;
                }
            }

            .services-action{
                width: 122px;
                display: flex;
                gap: 6px;
                align-items: center;
                justify-content: center;
                vertical-align: middle;

                a{
                    font-family: 'montsAltsm';
                    font-size: 14px;
                    font-weight: 600;
                    color: #6E38F7;
                }
            }
        }
    }
}