.testimonials{
    width: 100%;
    height: 100%;
    background-color: #F1F3F5;
    padding: 80px 24px;

    .testimonials-intro{
        width: 100%;
        text-align: center;
        padding-bottom: 86px;

        @include breakpoint(md) {
            padding-bottom: 48px;
        }

        h3{
            color: #6E38F7;
            padding-bottom: 16px;
        }
    }

    .testimonials-row{
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;

        @include breakpoint(md) {
            flex-direction: column;
            align-items: center;
        }

        .testimonials-card{
            width: min(100%, 520px);
            min-height: 300px;
            background: #FFFFFF;
            border: 1px solid #E9ECEF;
            border-radius: 24px;
            padding: 40px 24px 40px 50px;

            @include breakpoint(md) {
                width: 100%;
                max-width: 500px;
                padding: 32px 24px;
            }

            @include breakpoint(xs) {
                min-height: auto;
            }

            .card-upper{
                width: 100%;

                .icon-container{
                    img{
                        padding-bottom: 24px;
                    }
                    padding-bottom: 32px;
                }
            }

            .card-user{
                width: 100%;
                min-height: 80px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;

                @include breakpoint(xs) {
                    align-items: flex-start;
                }

                .avatar{
                    img{
                        width: 55px;
                        height: 48px;
                        border-radius: 24px;
                    }
                }

                .info-user{
                    width: auto;
                    flex: 1;

                    h3{
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}