*::before,
*::after {
    @include box-sizing(border-box);
    @include transition;
}

* {
    @include box-sizing(border-box);
    @include transition;
    margin: 0;
    padding: 0;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    overflow-x: hidden;
    font: normal 18px/35px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

input,
button,
textarea,
select {
    outline: none;
    resize: none;
    cursor: pointer;
}

ol,
ul {
    list-style: none;

    li {
        list-style: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    @include transition;
}

.section{
    width: 100%;
    height: auto;
    padding: 120px 96px;

    @include breakpoint(lg) {
        padding: 100px 64px;
    }

    @include breakpoint(md) {
        padding: 80px 32px;
    }

    @include breakpoint(xs) {
        padding: 64px 20px;
    }
}