$band-color: #073C35;
$links-color: #1C2422;
$activ: #073C35;
$underline-activ: #C29B4F;
$hero-fond: #F8F9FA;
$herotag-fond: #6E38F710;
$herotag-color: #6E38F7;
$btn-primary: #073C35;
$font-brand: 'pb';
$font-links: 'pr';
$font-langue: 'psm';
$primary: 'montsAltmd';

